/* Main Components */


/* Class Specific CSS */

.navigation-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-self: center;
    list-style: none;
	animation-name: fade-in;
	animation-duration: 3000ms;
}
