/* Class Specific CSS */

.body-container {
	/* Center Everything */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	/* Load in animation */
	animation: load-in 1000ms ease-in-out alternate;
}

/* CSS for Grids */
.gallery-container {
	display: flex;
	flex-flow: column ;
	flex-wrap: no-wrap;
	flex-shrink: 3;
	flex-basis: 2rem;
	gap: 10px;
	align-content: stretch;
	
}

/* ID Specific CSS */

/* Animations */

img {
	max-width: 100%;
	height: auto;
}